/* CSS color variables */
:root {
  --color-body-bg: #D5E1EF;
  --color-card-bg: #ffffff;     
  --color-text-1: #1F314F;   
  --color-text-2: #68778D;
  --primary-color: hsl(228, 45%, 44%); 
}

html, body{
      margin: 0;
      padding: 0;
      background: var(--color-body-bg);
      height: 100vh;
      font-family: 'Outfit', Sans-Serif;
  }
    .for-accessibility{
      text-align: center;
      visibility: hidden;
    }
    .attribution { 
      font-size: calc(0.6rem + 0.2vw);
/* Starts at 0.6rem on small screens, grows slightly with viewport width */
      text-align: center; 
      visibility: hidden; 
    }
    .attribution a { 
      color: var(--primary-color); 
    }
    .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .card{
        width: 20rem;
        height: 31.1875rem;
        background: var(--color-card-bg);
        -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
        -moz-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
        box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
        position: absolute;
        text-align: center;
        border-radius: 20px;
    }
    .qr-code{
        margin-inline: 10px;
        margin-block: 10px;
        padding-block-start: 5px;
    }
    .qr-code img{
        border-radius: 10px;
        width: 18rem;
        height: 18rem;
        margin-block-end: 18px;
    }
    .text-preset-1{
        font-weight: 700;
        letter-spacing: 0em;
        line-height: 120%;
        color: var(--color-text-1);
        font-size: calc(1.375rem + 0.2vw);
        margin-block-start: 10px;
        margin-inline-end: 10px;
        margin-block-end: 16px; 
        margin-inline-start: 10px;
    }
     .text-preset-2{
        font-weight: 400;
        letter-spacing: 0.0125em;
        line-height: 140%;
        color: var(--color-text-2);
        font-size: calc(0.9rem + 0.2vw);
        padding-inline: 16px;
        padding-block: 0;
        margin-inline: 10px;
        margin-block: 10px;
     }
     
  
