/* CSS color variables */
:root {
  --color-body-bg: #D5E1EF;
  --color-card-bg: #ffffff;     
  --color-text-1: #1F314F;   
  --color-text-2: #68778D;
}

html, body{
      margin: 0;
      padding: 0;
      background: var(--color-body-bg);
      height: 100vh;
      font-family: 'Outfit', Sans-Serif;
  }
    .for-accessibility{
      text-align: center;
      visibility: hidden;
    }
    .attribution { 
      font-size: 0.6758rem; 
      text-align: center; 
      visibility: hidden; 
    }
    .attribution a { 
      color: hsl(228, 45%, 44%); 
    }
    .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .card{
        width: 20rem;
        height: 31.1875rem;
        background: var(--color-card-bg);
        -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
        -moz-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
        box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
        position: absolute;
        text-align: center;
        border-radius: 20px;
    }
    .qr-code{
        margin: 10px;
        padding-block-start: 5px;
    }
    .qr-code img{
        border-radius: 10px;
        width: 18rem;
        height: 18rem;
        margin-block-end: 18px;
    }
    .text-preset-1{
        font-weight: 700;
        letter-spacing: 0px;
        line-height: 120%;
        color: var(--color-text-1);
        font-size: 1.375rem;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 16px; 
        margin-left: 10px;
    }
     .text-preset-2{
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 140%;
        color: var(--color-text-2);
        font-size: 0.9375rem;
        padding: 0 16px;
        margin: 10px;
     }
     
  
